<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Used and current versions of projects used by Kolla</title>
    <style type="text/css">
        td {
        padding: 5px;
        }
        th {
        padding: 5px;
        text-align: left;
        }
        .even {
        background-color: #FFFACD;
        }
        .odd {
        background-color: #E0FFFF;
        }
        .red {
        background-color: #ffcccb;
        }
        .green {
        background-color: #006633;
        }
    </style>
</head>
<body>
<p>
    <ul>
        <li><a href="#openstack">Versions of OpenStack projects used by Kolla</a></li>
        <li><a href="#kolla">Versions of additional projects used by Kolla</a></li>
        <li><a href="#betacloud">Versions of additional projects used by Betacloud</a></li>
    </ul>
</p>
<p>
    Regular updated <a href="https://betacloud.io">Betacloud</a> images based on Ubuntu 16.04 are published on quay.io in the organisation <a href="https://quay.io/organization/betacloud">betacloud</a>.
</p>
<p>
    Checked releases:
    <ul>
        <li>Betacloud: <a href="https://quay.io/organization/betacloud">{{ betacloud_release }}</a></li>
        <li>Kolla: <a href="https://github.com/openstack/kolla/tree/{{ release }}">{{ release }}</a></li>
        <li>OpenStack: <a href="https://releases.openstack.org/{{ release_name }}/index.html">{{ release_name }}</a></li>
    </ul>
</p>
<h1>Versions of OpenStack projects used by Kolla</h1>
<a name="openstack"></a>
<small>
    <p>
    The following projects are checked automatically.
    </p>
</small>
<p>
    <table>
      <tr class="even">
          <th>Project</th>
          <th>Current version</th>
          <th>Used version (Betacloud)</th>
          <th>Used version (Upstream)</th>
      </tr>
      {% for p in openstack_project_names %}
      <tr class="{{ loop.cycle('odd', 'even') }}">
          <td>{{ p }}</td>
          <td>{{ openstack_projects[p]["current"] }}</td>
          <td class="{{ "red" if openstack_projects[p]["betacloud"] != openstack_projects[p]["current"] and openstack_projects[p]["betacloud"] != '-' }}">{{ openstack_projects[p]["betacloud"] }}</td>
          <td class="{{ "red" if openstack_projects[p]["kolla"] != openstack_projects[p]["current"] and openstack_projects[p]["kolla"] != '-' }} }}">{{ openstack_projects[p]["kolla"] }}</td>
      </tr>
      {% endfor %}
    </table>
</p>

<small>
    <p>
    The following projects are checked manually.
    <ul>
        <li>Tempest: <code>tempst.yaml</code> is not included in <code>https://github.com/openstack/releases/tree/master/deliverables/_independent</code></li>
        <li>Neutron LBaaS dashboard: <code>neutron-lbaas-dashboard.yaml</code> is not included in <code>https://github.com/openstack/releases/tree/master/deliverables/{{ release_name }}</code></li>
        <li>Rally: <code>rally.yaml</code> in the <code>releases</code> repository is not up to date</li>
    </ul>
    </p>
</small>

<h1>Versions of additional projects used by Kolla</h1>
<a name="kolla"></a>
<small>
    <p>
    The following projects are checked manually.
    </p>
</small>
<p>
    <table>
      <tr class="even">
          <th>Project</th>
          <th>Current version</th>
          <th>Used version (Betacloud)</th>
          <th>Used version (Upstream)</th>
      </tr>
      {% for p in service_project_names %}
      <tr class="{{ loop.cycle('odd', 'even') }}">
          <td>{{ p }}</td>
          <td>{{ service_projects[p]["current"] }}</td>
          <td class="{{ "red" if service_projects[p]["betacloud"] != service_projects[p]["current"] and service_projects[p]["betacloud"] != '-' }}">{{ service_projects[p]["betacloud"] }}</td>
          <td class="{{ "red" if service_projects[p]["kolla"] != service_projects[p]["current"] and service_projects[p]["kolla"] != '-' }} }}">{{ service_projects[p]["kolla"] }}</td>
      </tr>
      {% endfor %}
    </table>
</p>

<h1>Versions of additional projects used only by Betacloud</h1>
<a name="betacloud"></a>
<small>
    <p>
    The following projects are checked manually.
    </p>
</small>
<p>
    <table>
      <tr class="even">
          <th>Project</th>
          <th>Current version</th>
          <th>Used version (Betacloud)</th>
      </tr>
      <tr class="">
          <td></td>
          <td></td>
          <td></td>
      </tr>
    </table>
</p>

<small>
    <p>
        Provided by <a href="https://betacloud.io">Betacloud Solutions GmbH</a>.
    </p>
    <p>
        This gets updated daily. Last update: {{ last_update }}
    </p>
</small>

</body>
</html>
